@media only screen and (min-width: 992px) {
    .container-fluid {
        width: 80%;
    }
}

.absolute-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-image {
    border: 2px dotted #BBB2B5; 
    width: 154px;
    height: 154px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #BBB2B5;
    transition: 0.3s;
}

.add-image:hover {
    color: #123D6A;
    border: 2px solid #123D6A;
    cursor: pointer;
}

.image-container {
    border: 2px solid #BBB2B5;
    margin-right: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    position: relative;
    transition: 0.3s;
}

.image-container:hover {
    border: 2px solid #123D6A;
}

.image-container:hover .overlay {
    color: #123D6A; 
    opacity: 0.8;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    width: inherit;
    opacity: 0;
    transition: 0.3s;
    background-color: #EDD8CF;
}

.image {
    display: block;
    max-height: 150px;
    max-width: 150px;
}




.images-container {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}