<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12 text-center">
            <h1>{{title}}</h1>
            <hr>
        </div>
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12 col-lg-3">
                <ul ngbNav #nav="ngbNav" animation="true" [(activeId)]="active" class="nav-pills nav-fill flex-column" orientation="vertical">
                    <li ngbNavItem="general">
                        <a ngbNavLink draggable="false">General</a>
                        <ng-template ngbNavContent>
                            <div class="form-group">
                                <label for="productName">Name</label>
                                <input [(ngModel)]="product.productName" type="text" class="form-control" id="productName" name="productName" placeholder="Name" required #productName="ngModel">
                                <div *ngIf="productName.invalid && (productName.dirty ||productName.touched)">
                                    <small *ngIf="productName.errors.required">Name is required.</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productDescription">Description</label>
                                <textarea class="form-control text-left" id="productDescription" name="productDescription" placeholder="Description" [(ngModel)]="product.productDescription"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="productPrice">Price (RSD)</label>
                                <input [(ngModel)]="product.productPrice" type="number" class="form-control" id="productPrice" name="productPrice" placeholder="Name" required #productPrice="ngModel" (ngModelChange)="product.productPrice=$event">
                                <div *ngIf="productPrice.invalid && (productPrice.dirty ||productPrice.touched)">
                                    <small *ngIf="productPrice.errors.required">Price is required.</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productStatus">Status</label>
                                <select class="custom-select" id="productStatus" name="productStatus" required [(ngModel)]="product.productStatus">
                                    <option [ngValue]=0>Available</option>
                                    <option [ngValue]=1>Unavailable</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-standard btn-block">Submit</button>
                            </div>
                        </ng-template>
                    </li>
                    <li ngbNavItem="stock">
                        <a ngbNavLink draggable="false">Stock</a>
                        <ng-template ngbNavContent>
                            <div class="form-group">
                                <label for="categoryType">Category</label>
                                <select class="custom-select" id="categoryType" name="categoryType" (change)='onCategoryChange($event)' [(ngModel)]="product.categoryType" required>
                                    <option [ngValue]='0'>Clothing</option>
                                    <option [ngValue]='1'>Mugs</option>
                                    <option [ngValue]='2'>Jewelry</option>
                                </select>
                            </div>
                            <div *ngIf="product.categoryType !== 0; else categoryIsClothing" class="form-group">
                                <label for="productStock">Stock</label>
                                <input class="form-control" type="number" id="productStock" name="productStock" min="0" #productStock="ngModel" [(ngModel)]="product.productStock" required>
                                <div *ngIf="productStock.invalid && (productStock.dirty ||productStock.touched)">
                                    <small *ngIf="productStock.errors.required">Stock is required.</small>
                                </div>
                            </div>
                            <ng-template #categoryIsClothing>
                                <div *ngFor="let size of getSizes()" class="form-group">
                                    <label for="productPrice">Size {{size.productSize}}</label>
                                    <input [(ngModel)]="size.currentSizeStock" type="number" class="form-control" id="productStock{{size.productSize}}" name="productStock{{size.productSize}}" placeholder="Stock">
                                    <!-- <input [(ngModel)]="product.productPrice" type="number" class="form-control" id="productPrice" name="productPrice" placeholder="Name" required #productPrice="ngModel" (ngModelChange)="product.productPrice=$event">
                                    <div *ngIf="productPrice.invalid && (productPrice.dirty ||productPrice.touched)">
                                        <small *ngIf="productPrice.errors.required">Price is required.</small>
                                    </div> -->
                                </div>
                            </ng-template>
                        </ng-template>
                    </li>
                    <li ngbNavItem="images">
                        <a ngbNavLink draggable="false">Images</a>
                        <ng-template ngbNavContent>
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-standard btn-block" (click)="showModal(addImage)">Add</button>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div cdkDropList class="images-list" (cdkDropListDropped)="drop($event)">
                                        <div class="image-box" *ngFor="let image of getProductImages()" cdkDrag>
                                        <div class="image-placeholder" *cdkDragPlaceholder></div>
                                        <div class="image-box-image">
                                            <img class="image rounded" src="{{image.productIcon}}">
                                        </div>
                                        <div class="image-box-actions">
                                            <div class="mr-2 my-2" style="width: 100px;">
                                                <button type="button" class="btn btn-standard btn-block" (click)="selectedImage = image; showModal(editImage)">Edit</button>
                                            </div>
                                            <div class="mr-2 my-2" style="width: 100px;">
                                                <button type="button" class="btn btn-standard btn-block" (click)="selectedImage = image; showModal(removeImage)">Remove</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-9 mt-2 mt-lg-0">
                <div [ngbNavOutlet]="nav"></div>
            </div>
        </div>
    </form>
</div>

<ng-template #editImage let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="onEditSubmit($event)">
        <div class="modal-body">
            <div class="form-group mb-0">
                <label for="imageUrlEdit">Image URL</label>
                <input id="imageUrlEdit" class="form-control" autocomplete="off" value="{{selectedImage?.productIcon}}" name="imageUrlEdit">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-standard btn-w-100" (click)="modal.close()">Save</button>
        </div>
    </form>
</ng-template>
<ng-template #addImage let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="onAddSubmit($event)">
        <div class="modal-body">
            <div class="form-group mb-0">
                <label for="imageUrlAdd">Image URL</label>
                <input id="imageUrlAdd" autocomplete="off" class="form-control" name="imageUrlAdd">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-standard btn-w-100" (click)="modal.close()">Save</button>
        </div>
    </form>
</ng-template>
<ng-template #removeImage let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Remove Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>Are you sure that you you want to remove this image?</h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-standard btn-w-100" (click)="onRemoveOk(); modal.close()">Remove</button>
        <button type="button" class="btn btn-standard btn-w-100" (click)="modal.close()">Cancel</button>
    </div>
</ng-template>



<!-- 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Launch static backdrop modal
  </button>
  

  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div> -->



<!-- <h1 *ngIf = "isEdit === true "align="center" class="display-4 mb-5">Edit Product</h1>
<h1 *ngIf = "isEdit === false "align="center" class="display-4 mb-5">Add Product</h1>
<div style="width:40%; margin: 25px auto">
    <form #form="ngForm" (ngSubmit)="onSubmit()">

        <div *ngIf = "isEdit == true " class="form-group">
            <label for="productId">Code</label>
            <input [readOnly]="isEdit" [disabled]="isEdit" [(ngModel)]="product.productId" type="text"
                   class="form-control form-control-lg" #productIdInput
                   id="productId" name="productId" required #productId="ngModel">
            <div *ngIf="productIdInput.invalid && (productIdInput.dirty ||productIdInput.touched)">
                <div *ngIf="productIdInput.errors.required">
                    Name is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Photo Link</label>
            <input [(ngModel)]="product.productIcons[0].productIcon" type="text" class="form-control form-control-lg" id="productIcon"
                   name="productIcon" placeholder="Photo">
        </div>


        <div class="form-group">
            <label>Name</label>
            <input [(ngModel)]="product.productName" type="text" class="form-control form-control-lg" id="productName"
                   #productName="ngModel"
                   name="productName" placeholder="Name" required>
        </div>
        <div *ngIf="productName.invalid && (productName.dirty ||productName.touched)">
            <div *ngIf="productName.errors.required">
                Name is required.
            </div>
        </div>


        <div class="form-group">
            <label for="categoryType">Category</label>
            <select class="custom-select custom-select-lg " id="categoryType" name="categoryType"
                    [(ngModel)]="product.categoryType"
                    required>
                <option [ngValue]=0>Odeca</option>
                <option [ngValue]=1>Solje</option>
                <option [ngValue]=2>Nakit</option>
            </select>
        </div>


        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control form-control-lg text-left"
                      id="productDescription" name="productDescription"
                      placeholder="Description" [(ngModel)]="product.productDescription"></textarea>
        </div>

        <div class="form-group">
            <label for="productPrice">Price</label>
            <input class="form-control form-control-lg"
                   type="number"
                   id="productPrice"
                   name="productPrice"
                   #productPrice="ngModel"
                   [ngModel]="product.productPrice" (ngModelChange)="product.productPrice=$event"
                   required>
            <div *ngIf="productPrice.invalid && (productPrice.dirty ||productPrice.touched)">
                <div *ngIf="productPrice.errors.required">
                    Price is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="productStock">Stock</label>
            <input class="form-control form-control-lg"
                   type="number"
                   id="productStock"
                   name="productStock"
                   min="0" #productStock="ngModel"
                   [(ngModel)]="product.productStock"
                   required>
            <div *ngIf="productStock.invalid && (productStock.dirty ||productStock.touched)">
                <div *ngIf="productStock.errors.required">
                    Stock is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="productStatus">Status</label>
            <select class="custom-select custom-select-lg " id="productStatus" name="productStatus" required
                    [(ngModel)]="product.productStatus">
                <option [ngValue]=0>Available</option>
                <option [ngValue]=1>Unavailable</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="!form.form.valid" class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
    </form>


</div>
 -->