<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#DB7093;">
  <a class="navbar-brand" [routerLink]="root">
      <img src="/assets/brand.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Nina's Shop
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

      <div class="navbar-nav mr-auto" *ngIf="!currentUser || currentUser.role == Role.USER">

          <a class="nav-item active nav-link "
             routerLink="/category/0">
              Odeca
          </a>
          <a class="nav-item active nav-link"
             routerLink="/category/1">
              Solje
          </a>
          <a class="nav-item active nav-link "
             routerLink="/category/2">
              Nakit
          </a>

      </div>

    <!-- SEARCH / Needs to be implemented -->
    <!-- <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
      </form>
    -->

      <div class="navbar-nav ml-auto">
        <a *ngIf="!currentUser || currentUser.role == Role.USER"
                class="nav-item active nav-link " routerLink="/cart">
            <i class="fas fa-shopping-cart"></i>
            Cart
        </a>

          <ng-container *ngIf="currentUser; else noUser">
              <a class="nav-item active nav-link " routerLink="/order">
                  <i class="fas fa-list-ul"></i>
                  Orders
              </a>
              <a class="nav-item active nav-link " routerLink="/profile">
                  {{name}}
              </a>
              <a class="nav-item active nav-link " (click)="logout()" routerLink="/login">
                  Sign Out
              </a>
          </ng-container>
          <ng-template #noUser>
              <a class="nav-item active nav-link " routerLink="/login">
                  Sign In
              </a>
              <a class="nav-item active nav-link " routerLink="/register">
                  Sign Up
              </a>
          </ng-template>
      </div>
  </div>
</nav>
