<div class="container" style="width:100%;">
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
      <div class="container">
          <br>
          <br>
          <hr>
          <div class="text-center">
              <a style="color: inherit" href="https://github.com/NemanjaVlaisavljevic"><i class="fab fa-github fa-3x"></i></a>
          </div>
          <!--Copyright-->
          <div class="footer-copyright py-3 text-center">
              © 2021 Copyright: Nemanja V.
          </div>
          <div class = "right">
            <a href="https://www.instagram.com/iamninna/?hl=sr">
              <img src="https://www.games.rs/files/images/2019/7/3/insta.svg" class = "img-responsive"
              width="50" height="50">
            </a>
          </div>
          <!--/.Copyright-->
      </div>
  </div>
