<div class="page-content-wrapper h-100">
    <div class="wrapped-content">
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-12 text-center">
                    <h1>Orders</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-responsive-lg table-striped">
                        <thead>
                            <tr>
                                <th scope="col text-center" style="max-width: 50px;">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">City</th>
                                <th scope="col">Street and Number</th>
                                <th scope="col">Total</th>
                                <th scope="col">Order Date</th>
                                <th class="text-center" scope="col">Status</th>
                                <th class="text-center" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of page?.content">
                                <td class="align-middle text-center" scope="row">{{order.orderId}}</td>
                                <td class="align-middle">{{order.buyerName}} {{order.buyerLastName}}</td>
                                <td class="align-middle">{{order.buyerEmail}}</td>
                                <td class="align-middle">{{order.buyerPhone}}</td>
                                <td class="align-middle">{{order.buyerCity}}</td>
                                <td class="align-middle">{{order.buyerStreetAndNumber}}</td>
                                <td class="align-middle">{{order.orderAmount}} RSD</td>
                                <td class="align-middle">{{order.createTime | date}}</td>
                                <td class="align-middle text-center">{{orderStatus[order.orderStatus]}}</td>
                                <td class="align-middle text-center">
                                    <div ngbDropdown placement="bottom-right" container="body">
                                        <button class="btn btn-standard btn-sm" ngbDropdownToggle>Actions</button>
                                        <div ngbDropdownMenu>
                                            <a ngbDropdownItem *ngIf="!(currentUser.role == role.USER && currentUser.name == order.buyerEmail)" routerLink="/order/{{order.orderId}}">
                                                Show
                                            </a>
                                            <a ngbDropdownItem *ngIf="order.orderStatus == 0" (click)="selectedOrder = order; showModal(confirmCancel)" routerLink="./">
                                                Cancel
                                            </a>
                                            <a ngbDropdownItem *ngIf="currentUser.role != role.USER && order.orderStatus == 0" (click)="selectedOrder = order; showModal(confirmFinish)" routerLink="./">
                                                Finish
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
    <div class="wrapped-footer">
      <app-footer></app-footer>
    </div>
</div>

<ng-template #confirmCancel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cancel Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>Are you sure that you want to cancel this order?</h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-standard btn-w-100" (click)="onCancelOk(); modal.close()">Yes</button>
        <button type="button" class="btn btn-standard btn-w-100" (click)="modal.close()">No</button>
    </div>
</ng-template>
<ng-template #confirmFinish let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Finish Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6>Are you sure that you want to finish this order?</h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-standard btn-w-100" (click)="onFinishOk(); modal.close()">Yes</button>
        <button type="button" class="btn btn-standard btn-w-100" (click)="modal.close()">No</button>
    </div>
</ng-template>