@media only screen and (min-width: 992px) {
    .container-fluid {
        width: 80%;
    }
}

.product-thumbnail {
    max-height: 50px;
    max-width: 50px;
}

.img-thumbnail {
    border: 1px solid #BBB2B5;
    padding: 0px;
}

.product-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}