/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

.ng-valid[required], .ng-valid.required  {
  border-color: #28a745;
  /* border-left: 5px solid #42A948; */
}

.ng-touched.ng-invalid:not(form)  {
  border-color: #dc3545;
  /* border-left: 5px solid #a94442; */
}

.loader-container {
  position: fixed;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  top: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 1001;
}

.loader {
  color: #AB3B61;
  width: 5rem; 
  height: 5rem;
}

html {
  height: 100%;
}

body {
  background-color: #EDD8CF;
  font-family: 'quicksand';
  font-style: normal;
  font-weight: 500;

  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  width: 100%; 
  height: 100%;

  /* position: relative;
  margin: 0;
  display: table; 
  width: 100%; 
  height: 100%; */
}

.dropdown-toggle::after {
  display:none;
}

.grid-header {
  grid-row: 1/2;
}

.grid-content {
  grid-row: 2/3;
}

.grid-footer {
  grid-row: 3/4;
}

.container, .container-fluid {
  color: #AB3B61;
}

.btn-standard {
  background-color: #EDC8B8;
  color: #AB3B61;
  transition: 0.3s;
}

@media (hover: hover) {
  .btn-standard:hover {
    background-color: #e4ad96;
    color: #123D6A;
  }
}

.btn-standard:focus {
  background-color: #e4ad96;
  color: #123D6A;
  box-shadow: 0 0 8px rgba(171, 59, 97, 0.6);
}

.btn-standard:disabled , .btn-standard:disabled:hover {
  background-color: #BBB2B5;
  color: #AB3B61;
}

/* .btn-standard:disabled:hover{
  background-color: #BBB2B5;
  color: #28a745;
} */

.dropdown-link {
  background-color: transparent;
  border: 0px;
  outline: 0;
  box-shadow: 0 0 0 0;
  color: #AB3B61;
}

.dropdown-link:hover, .dropdown-link:focus {
  color: #123D6A;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.form-control {
  background-color: #EDE2DC;
  border: 1px solid #BBB2B5;
  color: #AB3B61;
}

.form-control:focus {
  /* border-color: #FF0000; */
  background-color: #f2eae6;
  border: 1px solid #AB3B61;
  box-shadow:  0 0 8px rgba(171, 59, 97, 0.6);
}

.form-control::placeholder {
  color: #AB3B61;
  opacity: 1;
}

.form-check-input {
  background-color: #EDE2DC;
}

.btn {
  outline: 0;
  box-shadow: 0 0 0 0;
}

.btn-quantity {
  display: inline-block;
  border-radius: 50%;
  font-size: 18px;
  height: 25px;
  width: 25px;
  padding: 0px;
  line-height: 22px;
  text-align: center;
  user-select:none;
}

.btn-quantity:hover {
  cursor: pointer;
}

.btn-quantity-disabled, .btn-quantity-disabled:hover {
  background-color: #CDBFBE;
  color: #C4788C;
  display: inline-block;
  border-radius: 50%;
  font-size: 18px;
  height: 25px;
  width: 25px;
  padding: 0px;
  line-height: 22px;
  text-align: center;
  user-select:none;
}