/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

.ng-valid[required], .ng-valid.required  {
  border-color: #28a745;
  /* border-left: 5px solid #42A948; */
}

.ng-touched.ng-invalid:not(form)  {
  border-color: #dc3545;
  /* border-left: 5px solid #a94442; */
}

body {
  background-color: #EDD8CF;
  font-family: 'quicksand';
  font-style: normal;
  font-weight: 500;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.btn-standard {
  background-color: #EDC8B8;
  color: #AB3B61;
  transition: 0.3s;
}

@media (hover: hover) {
  .btn-standard:hover {
    background-color: #e4ad96;
    color: #123D6A;
  }
}

.btn-standard:focus {
  background-color: #e4ad96;
  color: #123D6A;
  box-shadow: 0 0 8px rgba(171, 59, 97, 0.6);
}

.btn-standard:disabled , .btn-standard:disabled:hover {
  background-color: #BBB2B5;
  color: #AB3B61;
}

/* .btn-standard:disabled:hover{
  background-color: #BBB2B5;
  color: #28a745;
} */

.dropdown-link {
  background-color: transparent;
  border: 0px;
  outline: 0;
  box-shadow: 0 0 0 0;
  color: #AB3B61;
}

.dropdown-link:hover, .dropdown-link:focus {
  color: #123D6A;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.form-control {
  background-color: #EDE2DC;
  border: 1px solid #BBB2B5;
  color: #AB3B61;
}

.form-control:focus {
  /* border-color: #FF0000; */
  background-color: #f2eae6;
  border: 1px solid #AB3B61;
  box-shadow:  0 0 8px rgba(171, 59, 97, 0.6);
}

.form-control::placeholder {
  color: #AB3B61;
  opacity: 1;
}

.form-check-input {
  background-color: #EDE2DC;
}

.btn-quantity {
  display: inline-block;
  border-radius: 50%;
  font-size: 18px;
  height: 25px;
  width: 25px;
  padding: 0px;
  line-height: 22px;
  text-align: center;
  user-select:none;
}

.btn-quantity:hover {
  cursor: pointer;
}
