/* -------------------------------------------------------------------------------------- */
/* HTML/BODY                                                                              */
/* -------------------------------------------------------------------------------------- */

html {
  height: 100%;
}

body {
  background-color: #EDD8CF;
  font-family: 'quicksand';
  font-style: normal;
  font-weight: 500;
}

.container, .container-fluid {
  color: #AB3B61;
}

/* -------------------------------------------------------------------------------------- */
/* LAYOUT                                                                                 */
/* -------------------------------------------------------------------------------------- */

.page-content-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
}

.wrapped-content {
  grid-row: 1/2;
}

.wrapped-footer {
  grid-row: 2/3;
}

/* -------------------------------------------------------------------------------------- */
/* LOADER                                                                                 */
/* -------------------------------------------------------------------------------------- */

.loader-container {
  position: fixed;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  top: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 1001;
}

.loader {
  color: #AB3B61;
  width: 5rem; 
  height: 5rem;
}

/* -------------------------------------------------------------------------------------- */
/* VALIDATION                                                                             */
/* -------------------------------------------------------------------------------------- */

.ng-valid[required], .ng-valid.required  {
  border-color: #28a745;
}

.ng-touched.ng-invalid:not(form)  {
  border-color: #dc3545;
}

/* -------------------------------------------------------------------------------------- */
/* BUTTONS                                                                                */
/* -------------------------------------------------------------------------------------- */

.btn-standard {
  background-color: #EDC8B8;
  color: #AB3B61;
  transition: 0.3s;
}

@media (hover: hover) {
  .btn-standard:hover {
    background-color: #e4ad96;
    color: #123D6A;
  }
}

.btn-standard:focus {
  background-color: #e4ad96;
  color: #123D6A;
  box-shadow: 0 0 8px rgba(171, 59, 97, 0.6);
}

.btn-standard:disabled , .btn-standard:disabled:hover {
  background-color: #BBB2B5;
  color: #AB3B61;
}

.btn {
  outline: 0;
  box-shadow: 0 0 0 0;
}

.btn-quantity {
  display: inline-block;
  border-radius: 50%;
  font-size: 18px;
  height: 25px;
  width: 25px;
  padding: 0px;
  line-height: 22px;
  text-align: center;
  user-select:none;
}

.btn-quantity:hover {
  cursor: pointer;
}

.btn-quantity-disabled, .btn-quantity-disabled:hover {
  background-color: #CDBFBE;
  color: #C4788C;
  display: inline-block;
  border-radius: 50%;
  font-size: 18px;
  height: 25px;
  width: 25px;
  padding: 0px;
  line-height: 22px;
  text-align: center;
  user-select:none;
}

.btn-w-100 {
  width: 100px;
}

/* -------------------------------------------------------------------------------------- */
/* NAV PILLS OVERRIDE                                                                     */
/* -------------------------------------------------------------------------------------- */

.nav-pills a {
  color: #AB3B61;
}

.nav-pills .nav-link.active {
  background-color: #EDC8B8;
  color: #AB3B61;
}

/* -------------------------------------------------------------------------------------- */
/* NAV CONTROLS OVERRIDE                                                                  */
/* -------------------------------------------------------------------------------------- */

.dropdown-toggle::after {
  display:none;
}

.dropdown-link {
  background-color: transparent;
  border: 0px;
  outline: 0;
  box-shadow: 0 0 0 0;
  color: #AB3B61;
}

.dropdown-link:hover, .dropdown-link:focus {
  color: #123D6A;
  outline: 0;
  box-shadow: 0 0 0 0;
}

/* -------------------------------------------------------------------------------------- */
/* FORM CONTROLS OVERRIDE                                                                 */
/* -------------------------------------------------------------------------------------- */

.form-control {
  background-color: #EDE2DC;
  border: 1px solid #BBB2B5;
  color: #AB3B61;
}

.form-control:focus {
  background-color: #f2eae6;
  border: 1px solid #AB3B61;
  box-shadow:  0 0 8px rgba(171, 59, 97, 0.6);
}

.form-control::placeholder {
  color: #AB3B61;
  opacity: 1;
}

.form-check-input {
  background-color: #EDE2DC;
}

.custom-select {
  background-color: #EDE2DC;
  color: #AB3B61;
}

.custom-select:focus {
  background-color: #f2eae6;
  border: 1px solid #AB3B61;
  box-shadow:  0 0 8px rgba(171, 59, 97, 0.6);
}

option {
  background-color: #EDE2DC;
}

/* -------------------------------------------------------------------------------------- */
/* MODAL CONTROLS OVERRIDE                                                                */
/* -------------------------------------------------------------------------------------- */

.modal-body, .modal-header, .modal-footer {
  background-color: #E9D5CC;
  color: #AB3B61;
}

.modal-header, .modal-footer {
  border: 0px;
  
}

.modal-body {
  padding-top: 0px;
  padding-bottom: 0px;
}