.nav-pills a {
    color: #AB3B61;
}

.nav-pills .active {
    background-color: #EDC8B8;
}

@media only screen and (min-width: 1200px){
    .card-row-padding {
        padding-left: 0px;
    }
    .container-padding {
        padding: 0px;
    }
}

@media only screen and (max-width: 1200px){
    .card-row-padding {
        padding-left: 15px;
    }
    .container-padding {
        padding: 15px;
    }
}