@media only screen and (min-width: 1200px){
    .container {
        max-width: 100%;
    }
}

@media only screen and (min-width: 1300px) {
    .container {
        max-width: 90%;
    }
}

@media only screen and (min-width: 1500px) {
    .container {
        max-width: 1320px;
    }
}