.container-fluid {
    color: #AB3B61;
}

@media only screen and (min-width: 992px) {
    .container-fluid {
        width: 80%;
    }
}

.product-thumbnail {
    max-height: 50px;
    max-width: 50px;
}

.img-thumbnail {
    border: 1px solid #BBB2B5;
    padding: 0px;
}

.table thead th {
    border-bottom: 1px solid #BBB2B5;
}

.table th {
    color: #AB3B61;
    border-top: 1px solid #BBB2B5;
}

tbody{
    color: #AB3B61;
}

tbody tr:nth-of-type(odd){
    background-color: #EDE2DC;
}

tbody tr:nth-of-type(even){
    background-color: #e5d5cc;
}

tbody tr:last-child{
    border-bottom: 1px solid #BBB2B5;
}

tbody td {
    border-top: 0px;
}

a, a:visited {
    color: #AB3B61;
    text-decoration: none;
}

a:hover {
    color: #123D6A;
    text-decoration: none;
}

.product-description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}

.product-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}