<div class="page-content-wrapper h-100">
    <div class="wrapped-content">
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-12 text-center">
                    <h1>Order Details</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-responsive-md table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Photo</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of (order$ | async)?.products">
                                <th class="align-middle" scope="row">
                                    <!-- ADD CHECK IF ACC IS ADMIN!! -->
                                    <div *ngIf="currentUser.role === 'USER'; else notUser">\
                                        <img class="img-thumbnail product-thumbnail" src="{{item.productIcon}}" alt="{{item.productName}}">
                                    </div>
                                    <ng-template #notUser>
                                        <a routerLink="/admin/product/{{item.productId}}/edit">
                                            <img class="img-thumbnail product-thumbnail" src="{{item.productIcon}}" alt="{{item.productName}}">
                                        </a>
                                    </ng-template>
                                </th>
                                <td class="align-middle product-name"><a routerLink="/admin/product/{{item.productId}}/edit">{{item.productName}}</a></td>
                                <td class="align-middle product-description">{{item.productDescription}}</td>
                                <td class="align-middle">{{item.productPrice}} RSD</td>
                                <td class="align-middle">{{item.count}}</td>
                                <td class="align-middle">{{(item.productPrice * item.count)}} RSD</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <h5 style="display: inline">Total: {{(order$ | async)?.orderAmount}} RSD</h5>
                </div>
            </div>
        </div>        
    </div>
    <div class="wrapped-footer">
      <app-footer></app-footer>
    </div>
</div>

