.container {
    width: 100%;
    margin: 0px;
}

.container-quantity, .container-add, .container-size {
    padding: 0 1.5rem 0 1.5rem;
}

.container-grid {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) auto minmax(0px, 1fr);
    grid-template-rows: auto;
}

.image-main {
    max-height: 500px;
}

.image-select-container {
    display: flex;
    flex-wrap: wrap;
}

.image-select {
    max-height: 50px;
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .image-select {
        max-width: 16.6%;
    }
}

@media only screen and (min-width: 576px) {
    .image-select {
        max-width: 20%;
    }
}

@media only screen and (min-width: 768px) {
    .image-select {
        max-width: 16.6%;
    }
}

@media only screen and (min-width: 992px) {
    .image-select {
        max-width: 16.6%;
    }
}

@media only screen and (min-width: 1200px) {
    .image-select {
        max-width: 16.6%;
    }
}

.image-select-active {
    border: 2px solid #AB3B61;
}

.size, .size-active {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 0.75rem;
    text-align: center !important;
    user-select: none;
}

.size {
    background-color: #EDC8B8;
    transition: 0.2s;
}

.size-active, .size:hover {
    background-color: #e4ad96;
    cursor: pointer;
}

.product-grid {
    background-color: #EDC8B8;
    display: grid;
    grid-template-columns: 42vw 42vw;
    grid-template-rows: auto;
    grid-column: 2/3;
}

.product-details {
    grid-column: 2/3;
    display: flexbox;
    word-wrap: break-word;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0px;
}