.card {
    min-height: 330px;
    min-width: 270px;
    max-width: 275px;
    padding: 20px;
    background-color: #EDE2DC;
    border: 1px solid #BBB2B5;
    color: #AB3B61;
}

.product-image {
<<<<<<< HEAD
  max-width: 200px;
  max-height: 200px;
}

.product-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 233px;
  font-size: large;
=======
    max-width: 200px;
    max-height: 200px;
}

.product-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 233px;
    font-size: large;
>>>>>>> e814dd99fd97d255bd43241d209df13239347d62
}

a, a:hover, a:visited {
    text-decoration: none;
}
