<a routerLink="/product/{{product.productId}}">
  <div class="card mx-sm-auto h-100 rounded">
    <img class="card-img-top rounded product-image mx-auto d-block" src="{{product.productIcon}}" alt="{{product.productName}}">
    <div class="row py-2 h-100">
      <div class="col text-left product-name">
        <span>{{product.productName}}</span>
      </div>
    </div>

    <div class="row mt-auto h-100 ">
      <div class="col-6 h-100">
          <div *ngIf="(product.productStatus != 0 || product.productStock <= 0); else stockElse">

            <p class="card-text">Out of stock</p>
          </div>
          <ng-template #stockElse>
            <p class="card-text">{{product.productStock}} in stock</p>
          </ng-template>
        </div>
        <div class="col-6 text-right">
          <p class="card-text">{{product.productPrice}} RSD</p>
        </div>
      </div>
    </div>
</a>
